@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #c7c7c7;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 60%;
  border: 3px solid #252525;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffffff;
  background-color: #969696;
}

.searchTerm:focus{
  color: #ffffff;
}

.wrap{
    width: 95%;
    height: 80px;
    position: absolute;
    border: 3px solid rgb(46, 46, 46);
    border-radius: 5px 5px 5px 5px;
    display:flex;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: rgb(46, 46, 46);
    justify-content: center;
    align-items: center;
}    
